body{
    min-width: 1050px;
    margin:auto;
}
html, body {
    background: #fff;
}
#page{
    margin:auto;
    justify-content: center;
}
#toc-button{
    margin-right: 5px;
}
#PageNavCont{
    margin: auto;
    padding: 10px 0px;
    width: 600px;
}
#PageNav{
    padding: 10px 10px;
}
#TableOfContent{
    width: fit-content;
}
.navbarItem {
    margin: 0px 10px;
}
.card {
    width: 900px;
    text-align: center;
    margin:auto;
    margin-top: 10px;
    background: #e3e3e3;
}
.textbox {
    margin:0px 10px 10px 10px;
    text-align: left;
}
h2 {
    padding-top: 20px;
    border-top: dashed rgb(25, 25, 25) .1em;
}
h3 {
    padding-top: 20px;
    border-top: dashed rgb(122, 122, 122) .1em;
}